---
import { Font } from 'astro:assets';
import '@/styles/global.css';
import Header from '@/components/app/Header.astro';
import Footer from '@/components/app/Footer.astro';
import { Toaster } from "@/components/starwind/toast";
const currentLocale = Astro.currentLocale || 'en';
---

<!doctype html>
<html lang={currentLocale} dir={currentLocale === 'ar' ? 'rtl' : 'ltr'} class="scroll-smooth">
  <head>
    <Font cssVariable="--font-sans" preload />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Royal Forwarding FZCO</title>
  </head>
  <body>
    <Header lang={currentLocale} />
    <main class="overflow-x-clip">
      <slot />
    </main>
    <Toaster position="bottom-right" />
    <Footer lang={currentLocale} />
  </body>
</html>
